<div class="row">
  <div class="col-lg-6 offset-lg-3 text-center admor-section-head">
    <div class="subtitle mb-3">{{ 'Testimonials'|t }}</div>
    <h2>{{ 'What customers say about Admor'|t }}</h2>
    <p class="lead">{{ 'Published Testimonials content drives this section.'|t }}</p>
  </div>
</div>

{% if items %}
  <div class="swiper admor-testimonial-swiper">
    <div class="swiper-wrapper">
      {% for item in items %}
        <div class="swiper-slide admor-testimonial">
          <blockquote>
            <i class="icofont-quote-left fs-40 absolute start-30px top-30px text-brand-red"></i>
            <p>{{ item.quote }}</p>
            <div class="admor-testimonial__who">
              {{ item.title }}
              {% if item.company %}
                <span class="admor-testimonial__company">{{ item.company }}</span>
              {% endif %}
            </div>
          </blockquote>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% else %}
  <div class="admor-empty">{{ 'No published Testimonials content is available yet.'|t }}</div>
{% endif %}
